@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --main-bg-color: #000108;
  --cover-bg-color: rgb(245, 8, 8);
  --game-over-text: rgb(229, 11, 11);
  --player-color: rgb(6, 250, 250);
  --missile-enemy-color: rgb(243, 243, 11);
  --enemies-typeA-color: rgb(128, 243, 38);
  --enemies-typeB-color: rgb(236, 127, 68);
  --enemies-typeC-color: rgb(188, 54, 217);
  --enemy-width-type-a: 23px;
  --enemy-heigth-type-a: 25px;
  --enemy-width-type-b: 30px;
  --enemy-heigth-type-b: 28px;
  --ship-special-width: 45px;
  --ship-special-heigth: 23px;
  --regular-color-font-: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  font-size: 1.1rem;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/stardust.png");
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  margin: 10px 10px 0 0;
}

a:hover {
  color: var(--player-color);
  text-decoration: underline;
  font-size: 2.1rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 750px;
  margin: 5% 0;
}

.score {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  border: 1px solid black;
}
.score-color-player1 {
  color: var(--player-color);
}
.score-color-player2 {
  color: rgb(247, 247, 6);
}
.score-high-container {
  color: rgb(5, 5, 248);
}
.score-player-container, .score-high-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.score-player-container div, .score-high-container div {
  display: flex;
  justify-content: center;
}
.score-player-one::before, .score-player-two::before {
  content: "<";
}
.score-player-one::after, .score-player-two::after {
  content: ">";
}

.battlefield {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ship-special {
  width: 45px;
  height: 23px;
  top: 10px;
  left: -45px;
  visibility: hidden;
  position: absolute;
}

.enemy {
  position: absolute;
}
.enemy-0 {
  width: 23px;
  height: 25px;
  content: url("../images/ship_typeAmov1.png");
}
.enemy-1, .enemy-2 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeBmov1.png");
}
.enemy-3, .enemy-4 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeCmov1.png");
}

.moving-0 {
  width: 23px;
  height: 25px;
  content: url("../images/ship_typeAmov2.png");
}
.moving-1, .moving-2 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeBmov2.png");
}
.moving-3, .moving-4 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeCmov2.png");
}

.missile-enemy {
  width: 2px;
  height: 10px;
  background-color: var(--missile-enemy-color);
  position: absolute;
}

.cover-section {
  width: 13px;
  height: 13px;
  background-color: var(--cover-bg-color);
  position: absolute;
}

.border-up-left {
  background-color: var(--main-bg-color);
  background-image: URL("../images/borderLeft.png");
}
.border-up-rigth {
  background-color: var(--main-bg-color);
  background-image: URL("../images/borderRigth.png");
}

.border-down-left {
  background-color: var(--main-bg-color);
  background-image: URL("../images/arcLeft.png");
}
.border-down-rigth {
  background-color: var(--main-bg-color);
  background-image: URL("../images/arcRigth.png");
}

.damaged-section-down {
  background-color: var(--main-bg-color);
  background-image: URL("../images/first_impact_down.png");
}

.destroyed {
  visibility: hidden;
}

.explosion-section-cover {
  background-color: var(--main-bg-color);
  background-size: cover;
  background-position: center;
  background-image: URL("../images/explosion.png");
  transition: ease-out 0.5s;
}
.explosion-enemy {
  content: URL("../images/explosion.png");
  transition: ease-out 0.2s;
}
.explosion-player {
  width: 50px;
  height: 50px;
  content: URL("../images/explosion.png");
  transition: ease-in-out 5s;
  z-index: 3;
}

.player {
  width: 35px;
  height: 25px;
  position: absolute;
  top: 518px;
}

.lifes {
  width: 100%;
  height: 10%;
  top: 90%;
  position: absolute;
  border-top: 3px solid var(--cover-bg-color);
  display: flex;
  justify-content: space-around;
}
.lifes-player {
  width: 35px;
  height: 25px;
  margin-top: 3px;
  margin-left: 2%;
}
.lifes .credit {
  margin-top: 7px;
  margin-left: 30%;
}
.lifes .credit-text {
  color: rgb(99, 18, 107);
  font-size: 1.2rem;
}
.lifes .credit-number {
  color: var(--player-color);
  font-size: 1.2rem;
}

.beam-player {
  width: 2px;
  height: 10px;
  background-color: var(--player-color);
  position: absolute;
}

.game-over {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 5;
  visibility: hidden;
  top: 25%;
  background-color: var(--main-bg-color);
  color: var(--regular-color-font-);
  border-color: var(--player-color);
  border-width: 10px;
  border-style: solid;
}
.game-over-text {
  margin: 0 15px;
  font-size: 3.5rem;
  color: var(--game-over-text);
}
.game-over .final-score {
  color: var(--player-color);
  font-size: 1.2rem;
  margin: 0 5px;
}
.game-over .retry {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.game-over .retry span {
  font-size: 2rem;
}

.copyrigth {
  color: var(--player-color);
  position: absolute;
  top: 80%;
}

.manual {
  top: 10%;
  position: absolute;
  color: rgb(19, 200, 19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.manual p {
  margin: 0 0 50px 0;
}
.manual div {
  display: flex;
  margin: 0 0 10px 0;
  align-items: baseline;
}
.manual figure {
  width: var(--ship-special-width);
  height: var(--enemy-heigth-type-b);
  display: flex;
  justify-content: center;
  align-items: center;
}
.manual-enemies {
  display: flex;
  flex-direction: column;
}
.manual-enemies-bonus {
  width: var(--ship-special-width);
  height: var(--ship-special-heigth);
}
.manual-enemies-type-A {
  width: var(--enemy-width-type-a);
  height: var(--enemy-heigth-type-a);
}
.manual-enemies-type-BC {
  width: var(--enemy-width-type-b);
  height: var(--enemy-heigth-type-b);
}
.manual-enemies-text-bonus {
  color: var(--cover-bg-color);
}
.manual-enemies-text-typeA {
  color: var(--enemies-typeA-color);
}
.manual-enemies-text-typeB {
  color: var(--enemies-typeB-color);
}
.manual-enemies-text-typeC {
  color: var(--enemies-typeC-color);
}

@-webkit-keyframes pulsing {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes pulsing {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.game-link {
  color: var(--regular-color-font-);
  margin: 30px 0 0 0;
  -webkit-animation: pulsing 1s ease-in-out infinite alternate;
          animation: pulsing 1s ease-in-out infinite alternate;
}/*# sourceMappingURL=styles.css.map */