@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --main-bg-color: rgb(6, 0, 0);
  --cover-bg-color: rgb(245, 8, 8);
  --player-color: rgb(6, 250, 250);
  --test-bg-aux: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  font-size: 1.1rem;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 600px;
  height: 750px;
  margin: 5% 0;
}

.score {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  border: 1px solid black;
}
.score-color-player1 {
  color: var(--player-color);
}
.score-color-player2 {
  color: rgb(247, 247, 6);
}
.score-high-container {
  color: rgb(5, 5, 248);
}
.score-player-container, .score-high-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.score-player-container div, .score-high-container div {
  display: flex;
  justify-content: center;
}
.score-player-one::before, .score-player-two::before {
  content: "<";
}
.score-player-one::after, .score-player-two::after {
  content: ">";
}

.battlefield {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ship-special {
  width: 45px;
  height: 23px;
  top: 10px;
  position: absolute;
}

.enemy {
  position: absolute;
}
.enemy-0 {
  width: 23px;
  height: 25px;
  content: url("../images/ship_typeAmov1.png");
}
.enemy-1, .enemy-2 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeBmov1.png");
}
.enemy-3, .enemy-4 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeCmov1.png");
}

.moving-0 {
  width: 23px;
  height: 25px;
  content: url("../images/ship_typeAmov2.png");
}
.moving-1, .moving-2 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeBmov2.png");
}
.moving-3, .moving-4 {
  width: 30px;
  height: 28px;
  content: url("../images/shipTypeCmov2.png");
}

.missile-enemy {
  width: 2px;
  height: 10px;
  background-color: black;
  position: absolute;
}

.cover-section {
  width: 13px;
  height: 13px;
  background-color: var(--cover-bg-color);
  position: absolute;
}

.border-up-left {
  background-color: var(--test-bg-aux);
  background-image: URL("../images/borderLeft.png");
}
.border-up-rigth {
  background-color: var(--test-bg-aux);
  background-image: URL("../images/borderRigth.png");
}

.border-down-left {
  background-color: var(--test-bg-aux);
  background-image: URL("../images/arcLeft.png");
}
.border-down-rigth {
  background-color: var(--test-bg-aux);
  background-image: URL("../images/arcRigth.png");
}

.damaged-section-down {
  background-color: var(--test-bg-aux);
  background-image: URL("../images/first_impact_down.png");
}

.destroyed {
  visibility: hidden;
}

.explosion-section-cover {
  background-color: var(--main-bg-color);
  background-size: cover;
  background-position: center;
  background-image: URL("../images/explosion.png");
  transition: ease-out 0.5s;
}
.explosion-enemy {
  content: URL("../images/explosion.png");
  transition: ease-out 0.2s;
}
.explosion-player {
  width: 50px;
  height: 50px;
  content: URL("../images/explosion.png");
  transition: ease-in-out 5s;
  z-index: 3;
}

.player {
  width: 35px;
  height: 25px;
  position: absolute;
  top: 518px;
}

.lifes {
  width: 100%;
  height: 10%;
  top: 90%;
  position: absolute;
  border-top: 3px solid var(--cover-bg-color);
  display: flex;
  justify-content: space-around;
}
.lifes-player {
  width: 35px;
  height: 25px;
  margin-top: 3px;
  margin-left: 2%;
}
.lifes .credit {
  margin-top: 7px;
  margin-left: 30%;
}
.lifes .credit-text {
  color: rgb(99, 18, 107);
  font-size: 1.2rem;
}
.lifes .credit-number {
  color: var(--player-color);
  font-size: 1.2rem;
}

.beam-player {
  width: 2px;
  height: 10px;
  background-color: var(--player-color);
  position: absolute;
}/*# sourceMappingURL=styles.css.map */